<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 開啟駝峰命名轉換 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 開啟懶加載 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 啟用自動映射行為 -->
        <setting name="autoMappingBehavior" value="FULL"/>
    </settings>
</configuration>
